<code class="hidden" people-list='<%== @people.order("birth").to_json %>'></code>
<div id="display-lifespan"></div>
<div id="line"></div>
<div id="left-point">
  <div id="begin-date" class="dates"></div>
</div>
<div id="right-point">
  <div id="end-date" class="dates">
</div>
<form></form>
