// #main-line{
//   position: absolute;
//   z-index: 1;
// }

#line {
  position: fixed;
  z-index: 2;
  margin-top: 14px;
  background: black;
  height: 10px;
  float: left;
  width:90%;
  left: 5%;
  top: 50%;
}
#left-point {
  position: fixed;
  top: 50%;
  left: 3%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 30px solid black;
  float: left;
}
#right-point {
  position: fixed;
  top: 50%;
  left: 95%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid black;
  float:right;
}
.dates{
  font-family: 'Verdana', Geneva, sans-serif;
  position: absolute;
  top: 25px;
}
#end-date{
  left: -50px;
}
.decade-line{
  height: 100%;
  position: fixed;
  top: 0;
  border-left: 0.5px solid gray;
  opacity: 0.5;
  z-index: 1;
}
.century-line{
  height: 100%;
  position: fixed;
  top: 0;
  border-left: 2px solid black;
  opacity: 0.5;
  z-index: 1;
}
.life-span{
  padding: 2px;
  text-align: center;
  background: SteelBlue;
  font-family: 'Verdana', Geneva, sans-serif;
  color: Gainsboro;
  border-radius : 10px;
  height: 40px;
  z-index: 3;
  transition: all .2s ease-out;
}
tr{
  height: 50px
}
.years{
  display: none;
  position: fixed;
  width: 40px;
  height: 25px;
  top: 50%;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  background: White;
  border-radius: 10px;
  border: 3px solid black;
  z-index: 5;
  font-size: 1vw;
}
.summary{
  display: none;
  text-align: center;
  opacity: 0;
  transition: all .2s ease-out;
}
.summary .current{
  display: inline-block;
  opacity: 1;
}

.life-span .current{
  width: 350px;
  height: 400px;
}
